.productForm {
    display: grid;
    width: 100%;
    min-height: calc(100vh - 250px);
    align-content: space-between;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
}

.productForm label {
    font-weight: 500;
    font-size: 32px;
    color: var(--paragraphText);
}


.formTitle {
    grid-column: span 2;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 600;
}

.formTitle h2 {
    font-size: 36px;
    font-weight: 600;
}

.nameField {
    grid-column: 1;
}

.priceField {
    grid-column: 1;
}


.imageField {
    grid-column: 2;
    grid-row: 2 / span 2;
    height: 100%;
}

.imageField img {
    width: 225px;
}


.saveBtn {
    grid-column: span 2;
    width: 200px;
    margin: 30px auto 0;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 32px;
}

.prev {
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 24px;
    padding: 10px;
}

.prev:hover {
    border: 1px solid var(--mainOrange);
}

.prevIcon {
    font-size: 14px;
    color: #000;
}

@media (max-width: 1024px) {
.productForm {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
}

.productForm label {
    font-size: 24px;
}


.formTitle {
    grid-column: span 1;
    margin-bottom: 20px;
}

.formTitle h2 {
    font-size: 24px;
}

.nameField {
    grid-column: 1;
}

.priceField {
    grid-column: 1;
}


.imageField {
    grid-column: 1;
    grid-row: auto;
}

.imageField img {
    width: 150px;
}

.saveBtn {
    grid-column: 1;
    width: 100px;
    font-size: 24px;
}
}